NEXT_PUBLIC_ENCRYPTION_KEY=your_secure_key_here

# Oracle Configuration
ORACLE_USER=DIGITALIZACION
ORACLE_PASSWORD=your_password_here
ORACLE_CONNECTION_STRING="(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = host_ip)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = service_name)))"
